
.incident-form {
  max-width: 500px;
  margin: 30px auto;
}

.incident-form__text-area {
  margin-bottom: 15px;
}

.incident-form__text-area label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.incident-form__text-area input[type="text"],
.incident-form__text-area input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  background-position: top left;
}

.incident-form__text-area select,
.incident-form__text-area input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.incident-form__text-area select {
  cursor: pointer;
}

.incident-form__text-area input[type="file"] {
  padding: 5px 0;
}

.incident-form__text-area button {
  margin-top: 15px;
}

.incident-form__text-area textarea#description {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

#incidentLocation:invalid , #incidentCategory:invalid {
  color: gray;
}

.dropdown, .p-dropdown-items, .p-dropdown-item {
  width: 100%;
  text-align: left;
}

.custom-date {
  width: 100%;
}
#fileupload {
  width: 120%;
  padding-bottom: 10px;
}

.fileupload-container {
  .centered-element {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.progress-spinner {
  position: absolute;
  top: 50%; /* Vertically center the spinner */
  left: 50%; /* Horizontally center the spinner */
  transform: translate(-50%, -50%); /* Center the spinner precisely */
}
